<template>
    <div class="todo-list">
        <div class="input">
            <div class="icon"><i class="fas fa-angle-down"></i></div>
            <input
                class="input-box"
                placeholder="What needs to be done ?"
                v-model="userInput"
                v-on:keyup.enter="submit">
        </div>
        <div class="list">
            <div
                class="item"
                v-for="(todo, index) in displayList"
                :key="index"
                @mouseover="todo.displayDelete = true"
                @mouseleave="todo.displayDelete = false">
                <div class="item-status-img">
                    <img v-if="todo.status === 'active'" :src="require('../assets/unchecked.png')" alt="check" width="50" height="50" @click="todo.status = 'complete'">
                    <img v-else :src="require('../assets/checked.png')" alt="check" width="50" height="50" @click="todo.status = 'active'">
                </div>
                <div class="item-content" :class="{complete: todo.status === 'complete'}">
                    {{todo.name}}
                </div>
                <div class="delete-btn">
                    <div v-if="todo.displayDelete" @click="removeTodo(index)">x</div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="count">{{todoList.length}} items left</div>
            <div class="filters">
                <div
                    class="filter"
                    :class="{active: status === 'all'}"
                    @click="status = 'all'">All</div>
                <div
                    class="filter"
                    :class="{active: status === 'active'}"
                    @click="status = 'active'">Active</div>
                <div
                    class="filter"
                    :class="{active: status === 'complete'}"
                    @click="status = 'complete'">Complete</div>
            </div>
            <div class="clear" @click="clearComplete">Clear Complete</div>
        </div>
    </div>
</template>

<script>
export default {
	name: 'todo-list',
	data () {
		return {
            userInput: '',
            todoList: [],
            status: 'all'
        }
    },
	methods: {
        submit() {
            this.todoList.push({
                name: this.userInput,
                status: 'active',
                displayDelete: false
            })
            this.userInput = ''
        },
        removeTodo(index) {
            this.todoList.splice(index,1)
        },
        clearComplete () {
            this.todoList = this.todoList.filter(ele => {
                return ele.status != 'complete'
            })
        }
    },
	computed: {
        displayList () {
            return this.todoList.filter(ele => {
                if(this.status === 'all') return true
                return ele.status === this.status
            })
        }
    },
    components: {
	}
};
</script>
<style lang="stylus">
.todo-list
    width 80%
    max-width 900px
    border-radius 4px
    border 1px solid #ccc
    background-color white
    position relative
    z-index 1
    .input
        display flex
        height 80px
        width 100%
        border-bottom 1px solid #ccc
        border-radius 4px
        .icon
            display flex
            justify-content center
            align-items center
            height 80px
            width 10%
            font-size 20px
            color #ccc
        .input-box
            height 80px
            width 90%
            padding 12px 20px
            display inline-block
            box-sizing border-box
            border none
            font-size 40px
            &:focus
                outline-width 0
    .list
        width 100%
        max-height 60vh
        overflow auto
        .item
            height 50px
            padding 5px
            border-bottom 1px solid #ccc
            display flex
            &:hover
                background-color #f5f5f5
            .item-status-img
                width 10%
            .complete
                color #ccc !important
                text-decoration line-through
            .item-content
                font-size 40px
                height 100%
                text-align left
                width 80%
                display flex
                align-items center
                color #333
            .delete-btn
                font-size 35px
                color #aaa
                cursor pointer
    .footer
        width 100%
        display flex
        .count
            height 50px
            width 20%
            display flex
            align-items center
            justify-content center
        .filters
            width 60%
            display flex
            align-items center
            justify-content center
            .filter
                padding 5px 10px
                margin 5px
                font-size 20px
                color #ccc
                border-radius 5px
                cursor pointer
                user-select none
            .active
                border 1px solid #ccc
                color #333
        .clear
            height 50px
            width 20%
            display flex
            align-items center
            justify-content center
            cursor pointer
            &:hover
                text-decoration underline
.todo-list:before
    content: ''
    position: absolute
    left: 3px
    top: 3px
    height: 100%
    width 100%
    border-bottom 1px solid #ccc
    border-right 1px solid #ccc
    border-radius 5px
    z-index:-1
.todo-list:after
    content: ''
    position: absolute
    left: 6px
    top: 6px
    height: 100%
    width 100%
    border-bottom 1px solid #ccc
    border-right 1px solid #ccc
    border-radius 5px
    z-index:-1
::placeholder
    color #ccc
</style>
