<template>
  <div id="app">
    <div class="todo-container">
      <todo-list></todo-list>
    </div>
  </div>
</template>

<script>
import TodoList from './components/TodoList'
export default {
  name: 'app',
  data () {
    return {

    }
  },
  components: {
    TodoList
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: linear-gradient(white,white, black);
  height: 100vh;
  width: 100%;
  overflow: auto;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.todo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
